<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.2.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Shared.Management.Objects.for.SQL.Server.2012.SP1" version="11.0.3000.0" targetFramework="net45" />
</packages>